* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

:root {
	/*font-size*/
	--font-size-small: 14px;
	--font-size-regular: 16px;
	--font-size-sub-heading: 20px;
	--font-size-heading: 36px;

	/* font-weight*/
	--font-weight-normal: 400;
	--font-weight-heading: 500;
	--font-weight-bold: 700;

	/*font-family*/
	--font-family-body: "Nunito-Sans";
	--font-family-heading: "Americana-font";

	/* letter-spacing*/
	--letter-spacing-forgrade: 0%;

	/*line-height*/
	--line-height-forgrade-primary: 100%;
	--line-height-forgrade-secondary: 26px;
	--line-height-forgrade-tertiary: 35px;
	/* background-color*/
	--background-color-forgrade-primary: #26A3DB;
	--text-color-forgrade-primary: rgb(255, 255, 255);

	/* border-color */
	--border-color-forgrade-primary: rgb(255, 255, 255);

	/* card-product */
	--background-color-crad-forgrade-primary: #F9F9F9;
	--background-color-crad-forgrade-secondary: rgb(255, 255, 255);

	/* button-underline */
	--text-color-forgrade-underline-button: #000309;

	/* discount-price-color */
	--text-color-forgrade-discount-price: #8A9099;

	/* after- color */
	--background-color-forgrade-after: #D2D5D9;

}

h1,
h2,
h3,
h4,
h5,
h6,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: var(--font-family-heading);
	font-weight: var(--font-weight-heading);
	letter-spacing: var(--letter-spacing-forgrade);
	line-height: var(--line-height-forgrade-primary);
}

.font-size-14px {
	font-size: 14px;
}

h2 {
	font-size: 36px;
}

h5 {
	font-size: 20px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

.h6 {
	font-size: 18px;
}

a {
	color: inherit;
	font-family: inherit;
	display: inline-block;
}

body {
	position: relative;
	font-family: var(--font-family-body);
}

.button-primary {
	background-color: var(--background-color-button);
	color: var(--text-color-button);
	line-height: var(--line-height-forgrade-primary);
	letter-spacing: var(--letter-spacing-forgrade);
	padding: 13px 27px;
	border-radius: 5px;
	display: inline-block;
	max-width: 85px;
}

.button-primary:hover {
	background-color: var(--background-color-crad-forgrade-secondary);
	color: var(--text-color-forgrade-underline-button);
}

.button-underline {
	color: var(--text-color-forgrade-underline-button);
	border-bottom: 1px solid var(--text-color-forgrade-underline-button);
	line-height: var(--line-height-forgrade-primary);
	letter-spacing: var(--letter-spacing-forgrade);
	display: inline-block;
}

.button-underline:hover {
	color: var(--background-color-forgrade-primary);
}

.outline-button {
	border: 1px solid var(--text-color-forgrade-underline-button);
	width: 78%;
	padding: 5px;
	border-radius: 5px;
	margin: auto;
}

.outline-button:hover {
	background-color: var(--background-color-crad-forgrade-secondary);
	color: var(--text-color-forgrade-underline-button);
}

@font-face {
	font-family: "Americana-font";
	src: url(../assest/font/americanabt_roman.ttf);
}

@font-face {
	font-family: "Nunito-Sans";
	src: url(../assest/font/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

.color-scheme-1 {
	--background-color: #26A3DB;
	--text-color: #FFFFFF;
	--sub-heading-text-color: #26A3DB;
	/* button*/
	--background-color-button: #FFFFFF;
	--text-color-button: #000309;
}

.color-scheme-2 {
	--background-color: #E9F6FB;
	--text-color: #000309;
	--sub-heading-text-color: #26A3DB;
	/* button*/
	--background-color-button: #26A3DB;
	--text-color-button: #FFFFFF;

}

.color-scheme-3 {
	--background-color: rgb(255, 255, 255);
	--text-color: #000309;
	--sub-heading-text-color: #26A3DB;
	/* button*/
	--background-color-button: #26A3DB;
	--text-color-button: #FFFFFF;
}

.gradiant {
	background-color: var(--background-color);
	color: var(--text-color);
}

.sub-heading {
	color: #26A3DB;
	font-size: var(--font-size-regular);
	font-weight: var(--font-weight-bold);
	font-family: var(--font-family-body);
}

.grid {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	column-gap: 20px;
}

.grid-col-6-desktop .grid-item {
	width: calc(16.6% - 16px);
	max-width: calc(16.6% - 16px);
}

.grid-col-5-desktop .grid-item {
	width: calc(20% - 16px);
	max-width: calc(20% - 16px);
}

.grid-col-4-desktop .grid-item {
	width: calc(25% - 15px);
	max-width: calc(25% - 15px);
}

.grid-col-3-desktop .grid-item {
	width: calc(33.3% - 15px);
	max-width: calc(33.3% - 15px);
}

.grid-col-2-desktop .grid-item {
	width: calc(50% - 12px);
	max-width: calc(50% - 12px);
}

.center-text {
	text-align: center;
}

.page-width {
	max-width: 1600px;
	margin: auto;
	padding-left: 130px;
	padding-right: 130px;
}

.list-style {
	list-style: none;
}

.announcment-bar-inner {
	display: flex;
	justify-content: center;
	font-family: "Nunito-Sans";
	font-weight: var(--font-weight-normal);
	font-size: var(--font-size-small);
	padding-top: 10px;
	line-height: var(--line-height-forgrade-primary);
	padding-bottom: 10px;
}

.header-inner {
	color: var(--text-color-forgrade-primary);
	font-family: var(--font-family-body);
	font-size: var(--font-size-small);
	line-height: var(--line-height-forgrade-primary);
	font-weight: var(--font-weight-heading);
	letter-spacing: var(--letter-spacing-forgrade);
	display: grid;
	position: relative;
	top: 0px;
	z-index: 2;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	grid-template-columns: 40% 7% 40%;
	gap: 20px;
}

.header-icons {
	display: flex;
	gap: 30px;
	justify-content: flex-end;
	align-items: center;
}

ul.navigation-ul {
	display: flex;
	list-style: none;
	gap: 20px;
}

.swiper {
	width: 100%;
	height: 100%;
	position: relative;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.swiper-next:hover {
	cursor: pointer;
}

.swiper-prev:hover {
	cursor: pointer;
}

.swiper-button:hover {
	cursor: pointer;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
	position: relative;
}

.banner-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
	position: absolute;
	bottom: 4%;
	z-index: 1;
	transform: translate(49%, 10px);
}

.review.swiper-slide {
	margin-top: 50px;
	display: flex;
	gap: 20px;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	text-align: left;
}

.banner-image {
	aspect-ratio: 1/0.4;
	object-fit: cover;
	display: block;
}

.drawer-icon {
	display: none;
}

.banner-inner {
	position: relative;
}

.banner-wrraper {
	position: relative;
	margin-top: -85px;
}

.banner-heading {
	display: flex;
	flex-direction: column;
	font-size: var(--font-size-regular);
	gap: 10px;
}

.banner--pera {
	line-height: var(--line-height-forgrade-secondary);
}

.banner-button {
	background-color: var(--background-color-forgrade-primary);
}

.banner-content {
	top: 32%;
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 30px;
	text-align: left;
	line-height: var(--line-height-forgrade-secondary);
	max-width: 433px;
	color: var(--text-color-forgrade-primary);
	padding-left: 1px;
}

.icon-with-text-ul {
	text-align: center;
}

.icon-with-text-inner {
	padding-top: 20px;
	padding-bottom: 20px;
}

.icon-with-text-items {
	padding: 10px;
	;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.card-product-inner {
	padding-top: 80px;
	padding-bottom: 80px;
}

ul.card-product-ul {
	padding-top: 40px;
}

.card-product-image img {
	display: flex;
	align-items: center;
	aspect-ratio: 0.4/0.6;
	object-fit: cover;
	position: relative;
}

.card-product-image a {
	display: flex;
}

.card-product-info {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 10px;
	justify-content: center;
	position: absolute;
	bottom: 2px;
	left: 32%;
}

.card-product {
	background-color: var(--background-color-crad-forgrade-primary);
	padding: 5px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	position: relative;
}

.featured-collection-inner {
	padding-top: 80px;
}

.featured-collection-info {
	padding: 20px 0px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	line-height: var(--line-height-forgrade-primary);
	letter-spacing: var(--letter-spacing-forgrade);
}

.featured-collection-title h3 {
	font-family: 'Nunito-Sans';
	font-weight: var(--font-weight-normal);
}

.price.font-size-14px {
	font-weight: var(--font-weight-normal);
}

.old-price {
	text-decoration: line-through;
}

.discount-price {
	color: var(--text-color-forgrade-discount-price);
}

.collection-image {
	position: relative;
	background-color: var(--background-color-crad-forgrade-secondary);
}

.featured-collection-image {
	position: relative;
}

.buy-now-button {
	position: absolute;
	bottom: 3%;
	width: 100%;
	font-size: var(--font-size-small);
	left: 1%;
	display: none;
}

.featured-collection-section {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.featured-heading {
	display: flex;
	gap: 30px;
	align-items: center;
	justify-content: center;
}

.featured-collection-image:hover .buy-now-button {
	display: flex;
}

.image-with-text-content {
	width: 48%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.quality {
	display: flex;
	align-items: center;
	gap: 5px;
}

.review-inner {
	padding-bottom: 80px;
	padding-top: 80px;
}

.mid-banner-inner {
	padding-top: 100px;
	padding-bottom: 80px;
}

.mid-banner-pera {
	width: 144%;
}

.mid-banner-inner {
	gap: 20px;
}

.rich-text-inner {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	text-align: center;
	width: 65%;
	margin: auto;
	padding-bottom: 80px;
}

.img-with-text-heading {
	width: 79%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.img-with-text-heading {
	width: 79%;
	line-height: var(--line-height-forgrade-secondary)
}

.img-with-text-text.grid-item {
	display: flex;
	gap: 20px;
	flex-direction: column;
	justify-content: center;
}

.image-with-text-inner {
	padding-top: 80px;
	padding-bottom: 80px;
}

.insta-post {
	padding-top: 40px;
	flex-wrap: wrap;
	text-align: center;
}

.post img {
	width: 100%;
}

.post img:hover {
	cursor: pointer;
}

.image img {
	width: 100%;
}

.img-with-text-heading.review-heading {
	width: 100%;
	line-height: var(--line-height-forgrade-tertiary);
}

.img-with-text {
	padding-top: 80px;
	padding-bottom: 80px;
}

.swiper-button {
	display: flex;
	gap: 30px;
	padding-top: 20px;
	padding-left: 7px;
}

.blog {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.blog:hover {
	cursor: pointer;
}

.blog-image img {
	width: 100%;
}

.for-after::after {
	content: " ";
	width: 1px;
	height: 100%;
	background-color: var(--background-color-forgrade-after);
}

.for-after.grid-item {
	display: flex;
	gap: 10px;
}

.insta-feed-heading.center-text {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.insta-feed-inner {
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1600px;
	margin: auto;
}

.date {
	color: var(--text-color-forgrade-discount-price);
}

span.product-name {
	border-bottom: 1px solid var(--text-color-forgrade-underline-button);
}

ul.blog-ul {
	padding-top: 40px;
}

.blog-inner {
	padding-top: 80px;
	padding-bottom: 80px;
}

.contact-us-section {
	padding-top: 80px;
}

li.grid-item.flex-end {
	align-items: flex-end;
	display: flex;
	justify-content: flex-end;
}

li.grid-item {
	display: flex;
	justify-content: center;
}

li.grid-item.flex-start {
	justify-content: flex-start;
}

.scrolling-image img {
	width: 100%;
}

.scrolling-image-with-text-text.grid-item {
	position: sticky;
	top: 0;
}

.scrolling-image-with-text-inner.grid-col-2-desktop.grid-col-2-mobile.grid {
	padding-top: 80px;
	padding-bottom: 80px;
}

.scrolling-image-with-text-images.grid-item {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.scrolling-text {
	position: sticky;
	top: 77px;
	display: flex;
	gap: 10px;
	flex-direction: column;
	margin-top: 54px;
}

.footer-flex {
	display: flex;
	gap: 5px;
	align-items: center;
}

ul.footer-ul.list-style {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

li.footer-list {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.footer-inner {
	justify-content: space-between;
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-normal);
	padding-top: 80px;
	padding-bottom: 80px;
}

.brand-details {
	max-width: 271px;
	width: 100%;
}

.footer-nav-list.new-letter-input {
	padding: 5px 5px 5px 7px;
	max-width: 78%;
	border-radius: 5px;
	border: 1px solid var(--border-color-forgrade-primary);
}

input.footer-input {
	padding: 5px 5px 5px 15px;
	width: 61%;
	border: none;
	background: transparent;
}

input.footer-input::placeholder {
	color: var(--text-color-forgrade-primary);
}

.social-media-icons {
	display: flex;
	gap: 10px;
}

.footer-nav-list.contant-info {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.footer-bottom-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 14px;
}

.footer-disclamer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer-payment-section {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

select {
	background: transparent;
	border: none;
	outline: none;
	color: var(--text-color-forgrade-primary)
}

.country-selector {
	padding: 5px 5px 5px 15px;
	border: 1px solid var(--border-color-forgrade-primary);
}

.footer-bottom {
	border: 1px solid var(--border-color-forgrade-primary);
	padding-top: 40px;
}




.image-with-text-wrraper {
	position: relative;
}

.image-with-text-inner {
	width: 100%;
	display: flex;
	gap: 80px;
}

.second-image {
	position: relative;
	left: 50%;
}

.first-image {
	position: absolute;
	z-index: 1;
	top: 10%;
	right: 43%;
	display: flex;
}

.image-with-text-content {
	width: calc(47% - 40px);
}

.image-with-text-images {
	width: calc(55% - 40px);
	display: flex;
	position: relative;
}

.first-image {
	width: 100%;
	height: 100%;
	max-width: 312px;
	max-height: 440px;
	aspect-ratio: 3/4;
}

.second-image {
	width: 100%;
	height: 100%;
	max-width: 312px;
	max-height: 440px;
	aspect-ratio: 3/4;
}

/* popup css */

.container {
	position: relative;
}

.verify {
	align-items: center;
	text-align:center;
	font-size: 20px;
	font-family: var(--font-family-body);
}

.opacity {
	/* opacity: 0.6; */
	filter: brightness(10%);
	overflow: hidden;
	pointer-events: none;
	height:100vh;
	background-color: black;
}

.hidden {
	display: none;
}

.popup {
	position: fixed;
	z-index: 2;
	flex-direction: column;
	gap: 21px;
	font-size: 20px;
	top: 21%;
	padding: 40px;
	border-radius: 18px;
	left: 37%;
	width: 100%;
	height: 100%;
	max-width: 364px;
	max-height: 306px;
}

.flex {
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.age-verify {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

input[type="text"] {
	width: 100%;
	padding: 10px 5px 10px 3px;
	border-radius: 5px;
	font-size: 20px;
	border:2px solid ;
	outline: none;
}

.submit-button {
    width: 50%;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
}